.zcui-wc-date-time-picker {
  padding: 20px;
  border: solid 1px #cecece;
  box-shadow: 5px 5px 50px 2px #cecece;
  border-radius: 5px;
  height: 200px;
  margin: auto;
  width: fit-content;
  .d-f {
    display: flex;
  }
  .flip-month-page {
    align-items: center;
    justify-content: space-around;
    .left-arrow {
      border-left: solid 1.5px #6b46bc;
      border-bottom: solid 1.5px #6b46bc;
      margin-right: 10px;
    }
    .right-arrow {
      border-right: solid 1.5px #6b46bc;
      border-top: solid 1.5px #6b46bc;
      margin-left: 10px;
    }
    .arrow {
      height: 12px;
      width: 12px;
      transform: rotate(45deg);
    }
    .change-month, .change-year{
      position: relative;
      cursor: pointer;
      border: solid 2px #e5e8e9bf;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 0 7px;
      .down-arrow {
        margin-top: 2px;
        height: 8px;
        width: 8px;
        transform: rotate(45deg);
        border-right: solid 1.5px #6b46bc;
        border-bottom: solid 1.5px #6b46bc;
        margin-left: 10px;
      }
    }
  }
}