.month{
    width: 270px;
    user-select: none;
    h2 {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #2e2e2e;
    }
    .month-grid {
        padding: 10px;
        border-right: 1px solid #ccc;
    }
    .weekdays-container{
        .weekdays{
            .weekday{
                line-height: 32px;
                width: 35px;
                height: 35px;
                text-align: center;
                display: inline-block;
            }
        }
    }
    .days-containers{
        .day{
            // background-color: antiquewhite;
            // width: 32px;
            width: calc(100%/8);
            height: 32px;
            display: inline-block;
            text-align:center;
            transition: 0.2s;
            line-height: 32px;
            &:hover{
                color: white;
                transition: 0.2s;
                background: #B4D3A2;
                cursor: pointer;
                border-radius: 50px;
            }
            &.selected{
                color: white;
                transition: 0.2s;
                background: #B4D3A2;
                cursor: pointer;
                border-radius: 50px;            
            }
            &.disabled{
                color: #b9b9b9;
                font-weight: 300;
                cursor:not-allowed;
                &:hover{
                    background:white;
                    color: #b9b9b9;
                }
            }
        }
    }
}
@media screen and (max-width: 400px) {
    .month {
    width: 235px;
    .month-grid {
      padding: 5px;
    }
    .days-containers .day {
        height: 30px;
        line-height: 29px;
    }
    .weekdays-container .weekdays .weekday {
      width: 31px;
      height: 31px;
    }
  }
}