.zcui-wc-date-time-picker-wrapper {
  width: fit-content;
  width: -moz-fit-content;
  outline: none; }

.zcui-wc-date-time-picker {
  padding: 20px;
  border: solid 1px #cecece;
  border-radius: 5px;
  margin: auto;
  width: fit-content;
  width: -moz-fit-content;
  position: absolute;
  border-top: none; }
  .zcui-wc-date-time-picker .d-f {
    display: flex; }
  .zcui-wc-date-time-picker .fd-c {
    flex-direction: column; }
  .zcui-wc-date-time-picker .jc-c {
    justify-content: center; }
  .zcui-wc-date-time-picker .jc-se {
    justify-content: space-evenly; }
  .zcui-wc-date-time-picker .ai-c {
    align-items: center; }
  .zcui-wc-date-time-picker .flip-month-page {
    justify-content: space-around; }
    .zcui-wc-date-time-picker .flip-month-page .left-arrow {
      border-left: solid 1.5px #6b46bc;
      border-bottom: solid 1.5px #6b46bc;
      margin-right: 10px;
      cursor: pointer; }
    .zcui-wc-date-time-picker .flip-month-page .right-arrow {
      border-right: solid 1.5px #6b46bc;
      border-top: solid 1.5px #6b46bc;
      margin-left: 10px;
      cursor: pointer; }
    .zcui-wc-date-time-picker .flip-month-page .arrow {
      height: 12px;
      width: 12px;
      transform: rotate(45deg); }
      .zcui-wc-date-time-picker .flip-month-page .arrow.disabled {
        pointer-events: none;
        border-color: #cecece; }
  .zcui-wc-date-time-picker .change-month, .zcui-wc-date-time-picker .change-year, .zcui-wc-date-time-picker .change-time {
    position: relative;
    cursor: pointer;
    border: solid 2px #e5e8e9bf;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0 7px; }
    .zcui-wc-date-time-picker .change-month .down-arrow, .zcui-wc-date-time-picker .change-year .down-arrow, .zcui-wc-date-time-picker .change-time .down-arrow {
      margin-top: 2px;
      height: 8px;
      width: 8px;
      transform: rotate(45deg);
      border-right: solid 1.5px #6b46bc;
      border-bottom: solid 1.5px #6b46bc;
      margin-left: 10px; }
    .zcui-wc-date-time-picker .change-month .month-list, .zcui-wc-date-time-picker .change-month .year-list, .zcui-wc-date-time-picker .change-month .time-list, .zcui-wc-date-time-picker .change-year .month-list, .zcui-wc-date-time-picker .change-year .year-list, .zcui-wc-date-time-picker .change-year .time-list, .zcui-wc-date-time-picker .change-time .month-list, .zcui-wc-date-time-picker .change-time .year-list, .zcui-wc-date-time-picker .change-time .time-list {
      z-index: 1;
      position: absolute;
      top: 29px;
      left: 0;
      height: 100px;
      right: 0;
      border: solid 1px #e5e8e9bf;
      border-top: none;
      overflow: scroll;
      padding-top: 5px;
      background: #fff; }
      .zcui-wc-date-time-picker .change-month .month-list span, .zcui-wc-date-time-picker .change-month .year-list span, .zcui-wc-date-time-picker .change-month .time-list span, .zcui-wc-date-time-picker .change-year .month-list span, .zcui-wc-date-time-picker .change-year .year-list span, .zcui-wc-date-time-picker .change-year .time-list span, .zcui-wc-date-time-picker .change-time .month-list span, .zcui-wc-date-time-picker .change-time .year-list span, .zcui-wc-date-time-picker .change-time .time-list span {
        box-sizing: border-box;
        padding: 5px 10px;
        width: 100%;
        text-align: left; }
        .zcui-wc-date-time-picker .change-month .month-list span:hover, .zcui-wc-date-time-picker .change-month .year-list span:hover, .zcui-wc-date-time-picker .change-month .time-list span:hover, .zcui-wc-date-time-picker .change-year .month-list span:hover, .zcui-wc-date-time-picker .change-year .year-list span:hover, .zcui-wc-date-time-picker .change-year .time-list span:hover, .zcui-wc-date-time-picker .change-time .month-list span:hover, .zcui-wc-date-time-picker .change-time .year-list span:hover, .zcui-wc-date-time-picker .change-time .time-list span:hover {
          background: #6b46bc;
          color: #fff; }
    .zcui-wc-date-time-picker .change-month .month, .zcui-wc-date-time-picker .change-year .month, .zcui-wc-date-time-picker .change-time .month {
      width: 70px; }
  .zcui-wc-date-time-picker .calendar {
    margin: auto;
    font-size: 14px;
    width: 288px;
    color: #94979b; }
    .zcui-wc-date-time-picker .calendar .day-name {
      padding-top: 10px;
      font-size: 0; }
    .zcui-wc-date-time-picker .calendar .dates {
      padding: 10px 0;
      font-size: 0; }
      .zcui-wc-date-time-picker .calendar .dates .date-cell {
        cursor: pointer;
        border-radius: 50%; }
        .zcui-wc-date-time-picker .calendar .dates .date-cell.selected {
          background: #6b46bc;
          color: #fff; }
        .zcui-wc-date-time-picker .calendar .dates .date-cell.date-in-range {
          background: #f2f4f7;
          border-radius: 0; }
  .zcui-wc-date-time-picker .divider {
    border-bottom: solid 1.5px #e5e8e9bf; }
  .zcui-wc-date-time-picker .date-cell {
    font-size: 14px;
    display: inline-block;
    width: 40px;
    text-align: center;
    padding: 10px 0; }
    .zcui-wc-date-time-picker .date-cell.disabled {
      pointer-events: none;
      color: #cecece; }
  .zcui-wc-date-time-picker .summary {
    height: 160px; }
    .zcui-wc-date-time-picker .summary .from-summary, .zcui-wc-date-time-picker .summary .to-summary {
      cursor: pointer;
      padding: 5px 10px; }
    .zcui-wc-date-time-picker .summary .date {
      width: 40px;
      text-align: right;
      font-size: 40px;
      padding: 0 6px;
      color: #6b46bc; }
    .zcui-wc-date-time-picker .summary .mon-year-day {
      width: 105px; }
    .zcui-wc-date-time-picker .summary .title {
      color: #94979b;
      font-size: 12px; }
    .zcui-wc-date-time-picker .summary .selected-day-name {
      color: #94979b; }
    .zcui-wc-date-time-picker .summary .time-circle {
      height: 20px;
      width: 20px;
      border: solid 1px #6b46bc;
      border-radius: 50%;
      margin-left: 16px;
      margin-right: 4px; }
      .zcui-wc-date-time-picker .summary .time-circle::after {
        content: '';
        display: block;
        height: 8px;
        width: 5px;
        border-left: solid 1px #6b46bc;
        border-bottom: solid 1px #6b46bc;
        margin: 4px 0 0 8px; }
    .zcui-wc-date-time-picker .summary .change-time {
      height: fit-content;
      height: -moz-fit-content;
      padding: 8px 10px; }
      .zcui-wc-date-time-picker .summary .change-time .down-arrow {
        margin-top: 0; }
      .zcui-wc-date-time-picker .summary .change-time .time-name {
        width: 63px;
        font-size: 15px; }

.zcui-wc-date-time-picker-display {
  display: flex;
  align-items: center;
  width: fit-content;
  width: -moz-fit-content;
  position: relative;
  cursor: pointer;
  border: solid 2px #e5e8e9bf;
  border-radius: 5px;
  background: #fff; }
  .zcui-wc-date-time-picker-display .starts, .zcui-wc-date-time-picker-display .ends {
    padding: 10px; }
    .zcui-wc-date-time-picker-display .starts.selected, .zcui-wc-date-time-picker-display .ends.selected {
      border-bottom: solid 1px #6b46bc; }

.hide {
  display: none; }
