.zcui-wc-date-time-picker {
  padding: 20px;
  border: solid 1px #cecece;
  box-shadow: 5px 5px 50px 2px #cecece;
  border-radius: 5px;
  margin: auto;
  width: fit-content; }
  .zcui-wc-date-time-picker .d-f {
    display: flex; }
  .zcui-wc-date-time-picker .flip-month-page {
    align-items: center;
    justify-content: space-around; }
    .zcui-wc-date-time-picker .flip-month-page .left-arrow {
      border-left: solid 1.5px #6b46bc;
      border-bottom: solid 1.5px #6b46bc;
      margin-right: 10px;
      cursor: pointer; }
    .zcui-wc-date-time-picker .flip-month-page .right-arrow {
      border-right: solid 1.5px #6b46bc;
      border-top: solid 1.5px #6b46bc;
      margin-left: 10px;
      cursor: pointer; }
    .zcui-wc-date-time-picker .flip-month-page .arrow {
      height: 12px;
      width: 12px;
      transform: rotate(45deg); }
    .zcui-wc-date-time-picker .flip-month-page .change-month, .zcui-wc-date-time-picker .flip-month-page .change-year {
      position: relative;
      cursor: pointer;
      border: solid 2px #e5e8e9bf;
      border-radius: 5px;
      padding: 5px 10px;
      margin: 0 7px; }
      .zcui-wc-date-time-picker .flip-month-page .change-month .down-arrow, .zcui-wc-date-time-picker .flip-month-page .change-year .down-arrow {
        margin-top: 2px;
        height: 8px;
        width: 8px;
        transform: rotate(45deg);
        border-right: solid 1.5px #6b46bc;
        border-bottom: solid 1.5px #6b46bc;
        margin-left: 10px; }
      .zcui-wc-date-time-picker .flip-month-page .change-month .month-list, .zcui-wc-date-time-picker .flip-month-page .change-month .year-list, .zcui-wc-date-time-picker .flip-month-page .change-year .month-list, .zcui-wc-date-time-picker .flip-month-page .change-year .year-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 29px;
        left: 0;
        height: 100px;
        right: 0;
        border: solid 1px #e5e8e9bf;
        border-top: none;
        overflow: scroll;
        padding-top: 5px;
        background: #fff; }
        .zcui-wc-date-time-picker .flip-month-page .change-month .month-list span, .zcui-wc-date-time-picker .flip-month-page .change-month .year-list span, .zcui-wc-date-time-picker .flip-month-page .change-year .month-list span, .zcui-wc-date-time-picker .flip-month-page .change-year .year-list span {
          box-sizing: border-box;
          padding: 5px 10px;
          width: 100%;
          text-align: left; }
          .zcui-wc-date-time-picker .flip-month-page .change-month .month-list span:hover, .zcui-wc-date-time-picker .flip-month-page .change-month .year-list span:hover, .zcui-wc-date-time-picker .flip-month-page .change-year .month-list span:hover, .zcui-wc-date-time-picker .flip-month-page .change-year .year-list span:hover {
            background: #6b46bc;
            color: #fff; }
      .zcui-wc-date-time-picker .flip-month-page .change-month .month, .zcui-wc-date-time-picker .flip-month-page .change-year .month {
        width: 70px; }
  .zcui-wc-date-time-picker .hide {
    display: none; }
  .zcui-wc-date-time-picker .calendar {
    font-size: 13px;
    width: 265px; }
    .zcui-wc-date-time-picker .calendar .day-name {
      padding-top: 10px; }
    .zcui-wc-date-time-picker .calendar .dates {
      padding: 10px 0; }
      .zcui-wc-date-time-picker .calendar .dates .date-cell {
        cursor: pointer; }
  .zcui-wc-date-time-picker .divider {
    border-bottom: solid 1.5px #e5e8e9bf; }
  .zcui-wc-date-time-picker .date-cell {
    display: inline-block;
    width: 35px;
    text-align: center;
    padding: 10px 0; }
