.zcui-wc-search-widget {
  display: flex;
  padding: 20px;
  font-size: 12px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../img/bg.svg');
  background-size: contain;
  header {
    display: flex;
    margin: auto;
    .logo-container {
      padding: 0 20px;
      margin: 10px 0;
      border-right: solid 1px #cecece;
    }
    .logo {
      width: 127px;
    }
    .title {
      padding: 10px 20px;
      font-size: 13px;
      width: 125px;
    }
  }
  label {
    letter-spacing: .5px;
    font-size: 13px;
    margin: 0 10px;
  }
  .search-input {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    padding: 10px 0;
    .input-box {
      border: solid 1px #8ABD50;
      margin: 7px 10px 20px;
      display: flex;
      .city {
        flex: 1;
        border-right: solid 1px #8ABD50;
      }
      .area {
        flex: 1;
      }
      .date {
        width: 21%;
      }
      .month {
        width: 45%;
        border-right: solid 1px #8ABD50;
        border-left: solid 1px #8ABD50;
      }
      .time {
        width: 34%;
      }
      select {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .input {
        position: relative;
        height: 35px;
      }
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  .date-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .input-wrapper {
      min-width: 256px;
      flex: 1;
    }
  }
  button {
    font-size: 12px;
    font-weight: bold;
    padding: 14px;
    width: 100%;
    max-width: 420px;
    border-radius: 2.2px;
    background-color: #6fbe45;
    box-shadow: 1px 1px 7px 0 rgba(186, 185, 185, 0.5);
    color: #fff;
    text-transform: uppercase;
    margin: auto;
  }
}



