.zcui-wc-search-widget {
  display: flex;
  padding: 20px;
  font-size: 12px;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  header {
    display: flex;
    margin: auto;
    .logo-container {
      padding: 0 20px;
      margin: 10px 0;
      border-right: solid 1px #cecece;
    }
    .logo {
      width: 127px;
    }
    .title {
      padding: 10px 20px;
      font-size: 13px;
      width: 125px;
    }
  }
  label {
    color: green;
    letter-spacing: .5px;

  }
  .search-input {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    .input-box {
      display: inline;
      border: solid 1px #cecece3d;
      box-shadow: 3px 5px 5px #8888882e;
      padding: 5px;
      margin: 7px 0;
      select {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
      .input {
        position: relative;
        height: 35px;
      }
    }
    .input-wrapper {
      display: flex;
      flex-direction: column;
    }
  }
}



